/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body > section {
    clear: both;
    padding: 50px 0;
}
h2,h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #15365b;
    margin-bottom: 30px;
}
h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #15365b;
    text-transform: uppercase;
}

h2:after, 
h3:after {
    content: "";
    height: 5px;
    width: 40px;
    background-color: #15365b;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}
.navbar-default {
    box-shadow: none;
    background-color: transparent;
    border:none;
    min-height: 90px;
    padding-top: 20px;
    transition: 1s all ease;
}

.effect {
    background-color: #123156;
    min-height: 30px;
    box-shadow: 0 0 10px black;
    padding-top: 0;

}

.nav > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px black;
    -webkit-text-shadow: 1px 1px 1px black;
    -moz-text-shadow: 1px 1px 1px black;
}

.nav > li.active {
    background-color: #08192D;
    transition: 1s all ease;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

section#slider {
background: rgb(30,61,90); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,61,90,1) 0%, rgba(12,34,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,61,90,1)), color-stop(100%,rgba(12,34,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3d5a', endColorstr='#0c223b',GradientType=0 ); /* IE6-9 */
min-height: 700px;
padding: 100px 0;
}


section#slider img {
    margin: 0 auto;
}


.blue-circle {
    width: 100%;
    padding-bottom: 100%;
    background-color: #15365b;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit- border-radius: 50%;
    margin: 0 auto ;
}

.blue-circle div {
    float: left;
    width: 100%;
    padding-top: 45%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #ffffff;
}

.blue-circle div i {
    font-size: 3em;
}

#features .blue-circle div i {
    font-size: 2.5em;
}

#about .blue-circle {
    width: 50%;
    padding-bottom: 50%;
}


section#features {
    background-color: #f5f5f5;
}

.item-feature {
    margin-bottom: 30px;
}

.modal-body {
    text-align: center;
}

section#parallax {
    height: 500px;
    background-image: url(../img/ipadApp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2.parallax {
    font-size: 3.6em;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0px 7px 8px black;
    -moz-text-shadow: 0px 7px 8px black;
    -webkit-text-shadow: 0px 7px 8px black;
}
h2.parallax:after {
    display: none;
}

section#download {
    padding-bottom: 0;
}

section#download .content-downloads {
    height: 700px;
    position: relative;
}

section#download div.phone {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
    -moz-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
}
section#download div.phone img {
    position: absolute;
    bottom:0;
}

section#download .downloads-empty {
    width: 50%;
    background-color: #f5f5f5;
    float: right; 
    height: 100%;
    z-index: 2;
    background-image: url(../img/downloadAppBG.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

section#download .download {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50px;
}

section#download .platforms > div {
    border-radius: 20px;
    border: 3px solid #15365b;
    padding: 11px 0;
    font-size: 1.2em;
    position: relative;
    padding-left: 50px;
    color: #0c243d;
}

section#download .platforms i {
    font-size: 2.5em;
    position: absolute;
    left: 20px;
    top:12px;
}

section#support {
    padding-bottom: 0;
    background-color: #1a3d61;
}

section#support h2 {
    color: #ffffff;
}
section#support h2:after {
    background-color: #ffffff;
}
section#support p {
    font-size: 1.6em;
    color: #ffffff;
    margin-bottom: 30px;
}

section#support input, 
section#support textarea {
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #1a3d61;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
}
section#support textarea  {
    min-height: 200px;
}

section#support input.btn {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px 50px;
    font-size: 1.4em;
    color: #1a3d61;
}

::-webkit-input-placeholder {
    color: #ffffff!important;
}

:moz-placeholder {
    color: #ffffff!important;
}


::moz-placeholder {
    color: #ffffff!important;
}
:-ms-input-placeholder {
    color: #ffffff!important;
}

footer p {
    background-color: #102745;
    padding: 10px 0;
    color: #ffffff;
    margin-bottom: 0;
}

/*** ANIMATIONS **/

.animation1,
.animation2,
.animation3 {
    opacity: 0;
}

.animation1 {

}
.animation2{
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

.animation3{
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

.has-success .form-control-feedback {
    color: #ffffff;
    background-color: green;
    border-radius: 50%;
}

.has-error .form-control-feedback {
    color: #ffffff;
    background-color: red;
    border-radius: 50%;
}

.form-horizontal .has-feedback .form-control-feedback {
    top:8px!important;
    right: 22px!important;
    font-size: 1.5em;
}

.has-error .help-block {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media(max-width: 767px) {
    .navbar-default .navbar-collapse {
        border: none;
    }

    .navbar-collapse.in,
    .collapsing {
        background-color: #112741;
    }
    .navbar-default .navbar-toggle:hover {
        background:transparent;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #112741;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    #about .blue-circle,
    .blue-circle {
        width: 50%;
        padding-bottom: 50%;
    }
    .features-image {
        text-align: center;
    }

    section#features h4,
    section#features p {
        text-align: center;
    }

    section#download .content-downloads {
        height: 600px;
    }

    section#download div.phone,
    section#download .downloads-empty {
        width: 100%;
    }

    section#download .downloads-empty {
        position: relative;
    }
    section#download .download {
          top: 600px;
          z-index: 10;
    }
    section#parallax {
          background-attachment: scroll;
    }
    section#download .platforms > div {
        margin-bottom: 10px;
    }
    section#download .platforms i {
        top:2px;
    }
}
@media(min-width: 768px) {}
@media(min-width: 992px) {}
@media(min-width: 1200px) {}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}